<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="API">
        <classes>
            <class name="com.API.Test_API"/>
        </classes>
    </test>
    <test name="UI">
        <classes>
            <class name="com.UI.Test_UI"/>
        </classes>
    </test>
</suite>
